In [1]:
# Reading in packages
import pandas as pd
from SQLCode import DatabaseConnection
from SQLCode import DatabaseCredentials as DBC
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
# Opening connection
creds = DBC.DataBaseCredentials()
conn = DatabaseConnection.sql_connection(creds.server, creds.database, creds.user, creds.password)
connection = conn.open()
cursor = connection.cursor()

In [3]:
# Getting the live_feed data
live_feed = pd.read_sql_query("select * from live_feed where gameID >= 2020020001", connection)

In [4]:
# Getting the seasons data
seasons = pd.read_sql_query("select * from schedules where gameID >= 2020020001", connection)

In [5]:
# Filtering to regular seasons games and 20102011 onwards (when live data started)
seasonsFiltered = seasons[seasons['seasonID'] >= 20102011]
seasonsFiltered = seasonsFiltered[seasonsFiltered['gameType'] == 'R']

In [6]:
# Getting and filtering the raw data
rawData = pd.merge(live_feed,seasons, how='inner',on='gameID')
rawData = rawData[rawData['seasonID'] >= 20102011]
rawData = rawData[rawData['gameType'] == 'R']

### Creating Initial Data Sets

In [7]:
# Filtering to the rows with the required data (goals and shots)
statsRaw = rawData[((rawData['eventTypeID'] == 'GOAL') & (rawData['playerType'] == 'Scorer')) |
               ((rawData['eventTypeID'] == 'SHOT') & (rawData['playerType'] == 'Shooter'))]

In [8]:
# Getting counts of the "for" stats.  
statsFor = pd.DataFrame(statsRaw.groupby(['gameID','teamID','eventTypeID']).size()).reset_index()
statsFor = statsFor.rename({0:'count'}, axis=1)

In [9]:
# Pivoting so each stat gets its own column
statsFor = pd.pivot_table(data=statsFor, values='count',index=['gameID','teamID'], columns='eventTypeID').reset_index()

In [10]:
statsFor

eventTypeID      gameID  teamID  GOAL  SHOT
0            2020020001     4.0   6.0  21.0
1            2020020001     5.0   3.0  31.0
2            2020020002    14.0   5.0  28.0
3            2020020002    16.0   1.0  22.0
4            2020020003     8.0   4.0  28.0
...                 ...     ...   ...   ...
1731         2020020866    54.0   4.0  25.0
1732         2020020867    21.0   3.0  27.0
1733         2020020867    26.0   2.0  16.0
1734         2020020868    28.0   4.0  44.0
1735         2020020868    53.0   5.0  27.0

[1736 rows x 4 columns]

In [11]:
# Defing the stats "against" table
statsAgainst = statsRaw[['gameID','eventTypeID']]

In [12]:
# Getting the "against" team
statsAgainst['teamID'] = statsRaw.apply(lambda row: row['homeTeamID'] if row['teamID'] != row['homeTeamID'] else row['awayTeamID'],axis=1)

<ipython-input-12-dca7e176261a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statsAgainst['teamID'] = statsRaw.apply(lambda row: row['homeTeamID'] if row['teamID'] != row['homeTeamID'] else row['awayTeamID'],axis=1)

In [13]:
# Getting the stats counts
statsAgainst = pd.DataFrame(statsAgainst.groupby(['gameID','teamID','eventTypeID']).size()).reset_index()
statsAgainst = statsAgainst.rename({0:'count'}, axis=1)

In [14]:
# Pivoting so each stat gets its own column
statsAgainst = pd.pivot_table(data=statsAgainst, values='count',index=['gameID','teamID'], columns='eventTypeID').reset_index()

In [15]:
statsAgainst

eventTypeID      gameID  teamID  GOAL  SHOT
0            2020020001       4   3.0  31.0
1            2020020001       5   6.0  21.0
2            2020020002      14   1.0  22.0
3            2020020002      16   5.0  28.0
4            2020020003       8   5.0  29.0
...                 ...     ...   ...   ...
1731         2020020866      54   1.0  20.0
1732         2020020867      21   2.0  16.0
1733         2020020867      26   3.0  27.0
1734         2020020868      28   5.0  27.0
1735         2020020868      53   4.0  44.0

[1736 rows x 4 columns]

### Create complete schedule table

In [16]:
# Expanding the schedule into a row for each game an individual team played
seasonsExpanded = pd.concat([seasonsFiltered[['seasonID','gameID','gameType','homeTeamID']].rename({'homeTeamID':'teamID'},axis=1),
          seasonsFiltered[['seasonID','gameID','gameType','awayTeamID']].rename({'awayTeamID':'teamID'},axis=1)])

In [17]:
statsAgainst

eventTypeID      gameID  teamID  GOAL  SHOT
0            2020020001       4   3.0  31.0
1            2020020001       5   6.0  21.0
2            2020020002      14   1.0  22.0
3            2020020002      16   5.0  28.0
4            2020020003       8   5.0  29.0
...                 ...     ...   ...   ...
1731         2020020866      54   1.0  20.0
1732         2020020867      21   2.0  16.0
1733         2020020867      26   3.0  27.0
1734         2020020868      28   5.0  27.0
1735         2020020868      53   4.0  44.0

[1736 rows x 4 columns]

In [18]:
statsFor

eventTypeID      gameID  teamID  GOAL  SHOT
0            2020020001     4.0   6.0  21.0
1            2020020001     5.0   3.0  31.0
2            2020020002    14.0   5.0  28.0
3            2020020002    16.0   1.0  22.0
4            2020020003     8.0   4.0  28.0
...                 ...     ...   ...   ...
1731         2020020866    54.0   4.0  25.0
1732         2020020867    21.0   3.0  27.0
1733         2020020867    26.0   2.0  16.0
1734         2020020868    28.0   4.0  44.0
1735         2020020868    53.0   5.0  27.0

[1736 rows x 4 columns]

### Extending data set for every game

In [19]:
# Merging the stats for and against into a single table.  
# Notice the left join on seasonsExpanded to ensure we aren't losing any data
stats = pd.merge(seasonsExpanded, 
                 statsFor, 
                 how='left', 
                 left_on=['gameID','teamID'],
                 right_on=['gameID','teamID'])
stats = stats.rename({'GOAL':'goalsFor','SHOT':'shotsFor'},axis=1)
stats = pd.merge(stats , 
                 statsAgainst, 
                 how='left', 
                 left_on=['gameID','teamID'],
                 right_on=['gameID','teamID'])
stats = stats.rename({'GOAL':'goalsAgainst','SHOT':'shotsAgainst'},axis=1)

In [20]:
# Setting no stats (i.e. NA) to 0
stats['goalsFor'] = stats['goalsFor'].apply(lambda x: 0 if pd.isna(x) else x)
stats['goalsAgainst'] = stats['goalsAgainst'].apply(lambda x: 0 if pd.isna(x) else x)
stats['shotsAgainst'] = stats['shotsAgainst'].apply(lambda x: 0 if pd.isna(x) else x)
stats['shotsFor'] = stats['shotsFor'].apply(lambda x: 0 if pd.isna(x) else x)

In [21]:
# Sorting the values
stats = stats.sort_values(['seasonID','gameID'])

# Grabbing this now to use in "Extracting the Game Outcome"
statsSimple = stats

### Creating the Statistics

In [22]:
# Creating a game number for every game per team
stats['gameNumber'] = stats.groupby(['seasonID','teamID']).cumcount()+1

In [23]:
# Getting the rolling totals for each stat
stats['goalsAgainstTotal'] = stats.groupby(['seasonID','teamID'])['goalsAgainst'].cumsum()
stats['goalsForTotal'] = stats.groupby(['seasonID','teamID'])['goalsFor'].cumsum()
stats['shotsForTotal'] = stats.groupby(['seasonID','teamID'])['shotsFor'].cumsum()
stats['shotsAgainstTotal'] = stats.groupby(['seasonID','teamID'])['shotsAgainst'].cumsum()

In [24]:
# Creating a game number for each team/season
stats['gameNumber'] = stats.groupby(['seasonID','teamID']).cumcount()+1

In [25]:
# Getting the rolling totals per game for each stat
stats['goalsAgainstPerGame'] = stats['goalsForTotal']/stats['gameNumber']
stats['goalsForPerGame'] = stats['goalsAgainstTotal']/stats['gameNumber']
stats['shotsAgainstPerGame'] = stats['shotsAgainstTotal']/stats['gameNumber']
stats['shotsForPerGame'] = stats['shotsForTotal']/stats['gameNumber']

In [26]:
# Getting the rolling differentials
stats['goalDifferential'] = stats['goalsForTotal'] - stats['goalsAgainstTotal']
stats['shotDifferential'] = stats['shotsForTotal'] - stats['shotsAgainstTotal']

In [27]:
# Determing whether a team won/lossed and creating a rolling win percentage
stats['winLoss'] = stats.apply(lambda row: 1 if row['goalsFor'] > row['goalsAgainst'] else 0,axis=1)
stats['winLossTotal'] = stats.groupby(['seasonID','teamID'])['winLoss'].cumsum()
stats['winningPercentage'] = stats['winLossTotal']/stats['gameNumber']

In [28]:
statsComplete = stats.drop(['goalsFor',
                            'goalsAgainst', 
                            'shotsAgainst', 
                            'shotsFor',
                            'gameNumber',
                            'goalsForTotal',
                            'goalsAgainstTotal',
                            'shotsAgainstTotal',
                            'shotsForTotal',
                            'winLoss',
                            'winLossTotal'], axis=1)

In [29]:
statsComplete

,seasonID,gameID,gameType,teamID,goalsAgainstPerGame,goalsForPerGame,shotsAgainstPerGame,shotsForPerGame,goalDifferential,shotDifferential,winningPercentage
0,20202021,2020020001,R,4,6.000000,3.000000,31.000000,21.000000,3.0,-10.0,1.000000
868,20202021,2020020001,R,5,3.000000,6.000000,21.000000,31.000000,-3.0,10.0,0.000000
1,20202021,2020020002,R,14,5.000000,1.000000,22.000000,28.000000,4.0,6.0,1.000000
869,20202021,2020020002,R,16,1.000000,5.000000,28.000000,22.000000,-4.0,-6.0,0.000000
2,20202021,2020020003,R,10,5.000000,4.000000,28.000000,29.000000,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
1733,20202021,2020020866,R,19,3.071429,3.089286,26.964286,26.125000,-1.0,-47.0,0.482143
866,20202021,2020020867,R,26,2.589286,3.071429,28.160714,25.875000,-27.0,-128.0,0.375000
1734,20202021,2020020867,R,21,3.535714,2.410714,23.053571,31.071429,63.0,449.0,0.696429
867,20202021,2020020868,R,28,2.803571,3.642857,28.696429,27.660714,-47.0,-58.0,0.375000
1735,20202021,2020020868,R,53,2.857143,3.250000,27.428571,24.839286,-22.0,-145.0,0.428571

### Adding Q Values

In [30]:
# Getting the seasons data
boxscores = pd.read_sql_query("select gameID, teamID,playerID from box_scores where timeOnIce is not null and scratched=0", connection)

In [31]:
# Merging boxscores with seasons to get the seasonID
boxscores = pd.merge(seasonsFiltered[['seasonID','gameID']], boxscores, how='inner')

In [32]:
# Sorting to make sure the row count is correct
boxscores = boxscores.sort_values(['seasonID','gameID'])

In [33]:
# # Getting the previous game for each game/player combo
previousGame = []
for index, row in boxscores.iterrows():
    if index % 10000 == 0:
        print(int((index/len(boxscores))*100),'%')
    preGame = boxscores[(boxscores['gameID'] < row['gameID']) & (boxscores['playerID'] == row['playerID'])]['gameID'].values
    if len(preGame) == 0:
        previousGame.append(np.nan)
    else:
        previousGame.append(max(preGame))

0 %
30 %
60 %
90 %

In [34]:
seasonsList = seasonsFiltered['seasonID'].unique()
previousSeasons = []
for index, row in boxscores.iterrows():
    if index % 10000 == 0:
        print(int((index/len(boxscores))*100),'%')
    season = seasonsList[seasonsList < row['seasonID']]
    if len(season) == 0:
        previousSeasons.append(np.nan)
    else:
        previousSeasons.append(max(season))
    
# #     break

0 %
30 %
60 %
90 %

In [35]:
boxscores['previousSeason'] = previousSeasons
boxscores['previousSeason'] = boxscores['previousSeason'].fillna(20092010)
boxscores['previousSeason'] = boxscores['previousSeason'].astype(int)

In [36]:
# Getting the game number if the player played in the game
boxscores['gameNumber'] = boxscores.groupby(['seasonID','playerID']).cumcount()+1

In [37]:
# boxscores = pd.read_csv('boxscores.csv',index_col=0)
# boxscores.to_csv('boxscores.csv')

In [38]:
# Reading in the q values
qValues = pd.read_csv('deep_rl_results_all_games.csv',index_col=0)

In [39]:
# Summing up the values by game
qValues = qValues[['gameID',
                   'playerID',
                   'value']].groupby(['gameID',
                                         'playerID']).sum('value').reset_index()

In [40]:
# Merging with boxscores
qValues = pd.merge(boxscores, qValues, on=['gameID','playerID'],how='left')

In [41]:
# Filling NA values (i.e. games where a player didn't show up)
qValues['value'] = qValues['value'].fillna(0)

In [42]:
qValues = qValues.sort_values(['seasonID','gameID'])

In [43]:
# Summing up the q values by player/season/game
qValues['cumulativeValue'] = qValues.groupby(['seasonID','playerID'])['value'].cumsum(axis=0)

In [44]:
# Getting the q value per game
qValues['averageValue'] = qValues['cumulativeValue']/qValues['gameNumber']

In [45]:
qValues[qValues['playerID'] == 8478402]

,seasonID,gameID,teamID,playerID,previousSeason,gameNumber,value,cumulativeValue,averageValue
127,20202021,2020020004,22,8478402,20092010,1,0.0,0.0,0.0
469,20202021,2020020013,22,8478402,20092010,2,0.0,0.0,0.0
1098,20202021,2020020029,22,8478402,20092010,3,0.0,0.0,0.0
1634,20202021,2020020043,22,8478402,20092010,4,0.0,0.0,0.0
2130,20202021,2020020056,22,8478402,20092010,5,0.0,0.0,0.0
2664,20202021,2020020070,22,8478402,20092010,6,0.0,0.0,0.0
3255,20202021,2020020086,22,8478402,20092010,7,0.0,0.0,0.0
3785,20202021,2020020100,22,8478402,20092010,8,0.0,0.0,0.0
4413,20202021,2020020116,22,8478402,20092010,9,0.0,0.0,0.0
5063,20202021,2020020133,22,8478402,20092010,10,0.0,0.0,0.0
5368,20202021,2020020141,22,8478402,20092010,11,0.0,0.0,0.0
5977,20202021,2020020157,22,8478402,20092010,12,0.0,0.0,0.0
7047,20202021,2020020185,22,8478402,20092010,13,0.0,0.0,0.0
7580,20202021,2020020199,22,8478402,20092010,14,0.0,0.0,0.0
7809,20202021,2020020205,22,8478402,20092010,15,0.0,0.0,0.0
8381,20202021,2020020220,22,8478402,20092010,16,0.0,0.0,0.0
9429,20202021,2020020248,22,8478402,20092010,17,0.0,0.0,0.0
10038,20202021,2020020264,22,8478402,20092010,18,0.0,0.0,0.0
10515,20202021,2020020276,22,8478402,20092010,19,0.0,0.0,0.0
10859,20202021,2020020285,22,8478402,20092010,20,0.0,0.0,0.0
11675,20202021,2020020307,22,8478402,20092010,21,0.0,0.0,0.0
12171,20202021,2020020320,22,8478402,20092010,22,0.0,0.0,0.0
12761,20202021,2020020335,22,8478402,20092010,23,0.0,0.0,0.0
13333,20202021,2020020350,22,8478402,20092010,24,0.0,0.0,0.0
13716,20202021,2020020360,22,8478402,20092010,25,0.0,0.0,0.0
14594,20202021,2020020383,22,8478402,20092010,26,0.0,0.0,0.0
15091,20202021,2020020396,22,8478402,20092010,27,0.0,0.0,0.0
15625,20202021,2020020410,22,8478402,20092010,28,0.0,0.0,0.0
16236,20202021,2020020426,22,8478402,20092010,29,0.0,0.0,0.0
16751,20202021,2020020440,22,8478402,20092010,30,0.0,0.0,0.0
17305,20202021,2020020454,22,8478402,20092010,31,0.0,0.0,0.0
17725,20202021,2020020465,22,8478402,20092010,32,0.0,0.0,0.0
18048,20202021,2020020474,22,8478402,20092010,33,0.0,0.0,0.0
18695,20202021,2020020491,22,8478402,20092010,34,0.0,0.0,0.0
18981,20202021,2020020498,22,8478402,20092010,35,0.0,0.0,0.0
19435,20202021,2020020510,22,8478402,20092010,36,0.0,0.0,0.0
20046,20202021,2020020526,22,8478402,20092010,37,0.0,0.0,0.0
20427,20202021,2020020536,22,8478402,20092010,38,0.0,0.0,0.0
20999,20202021,2020020551,22,8478402,20092010,39,0.0,0.0,0.0
22178,20202021,2020020582,22,8478402,20092010,40,0.0,0.0,0.0
22578,20202021,2020020593,22,8478402,20092010,41,0.0,0.0,0.0
23132,20202021,2020020607,22,8478402,20092010,42,0.0,0.0,0.0
23665,20202021,2020020621,22,8478402,20092010,43,0.0,0.0,0.0
24313,20202021,2020020638,22,8478402,20092010,44,0.0,0.0,0.0
25207,20202021,2020020662,22,8478402,20092010,45,0.0,0.0,0.0
25625,20202021,2020020673,22,8478402,20092010,46,0.0,0.0,0.0
26501,20202021,2020020696,22,8478402,20092010,47,0.0,0.0,0.0
27018,20202021,2020020709,22,8478402,20092010,48,0.0,0.0,0.0
27476,20202021,2020020721,22,8478402,20092010,49,0.0,0.0,0.0
28948,20202021,2020020760,22,8478402,20092010,50,0.0,0.0,0.0
29595,20202021,2020020777,22,8478402,20092010,51,0.0,0.0,0.0
30071,20202021,2020020789,22,8478402,20092010,52,0.0,0.0,0.0
30754,20202021,2020020807,22,8478402,20092010,53,0.0,0.0,0.0
31573,20202021,2020020829,22,8478402,20092010,54,0.0,0.0,0.0
32142,20202021,2020020844,22,8478402,20092010,55,0.0,0.0,0.0
32351,20202021,2020020849,22,8478402,20092010,56,0.0,0.0,0.0

In [46]:
# Getting the average q value per game by season
qSeasonValues = qValues[['seasonID','averageValue']].groupby('seasonID').mean().reset_index()
# Renaming the column
qSeasonValues = qSeasonValues.rename({'averageValue':'averageValueSeason'},axis=1)

In [47]:
# Merging boxscores with qValues to get the qValues up to the last game
boxScoresComplete = pd.merge(boxscores, 
         qValues[['gameID','playerID','averageValue']],
         left_on=['previousGameID','playerID'],
         right_on=['gameID','playerID'], 
         how='left',
         suffixes=('', '_y'))

KeyError: 'previousGameID'

In [ ]:
# Getting the qValues by season
boxScoresComplete = pd.merge(boxScoresComplete,
         qSeasonValues, 
         left_on='previousSeason',
         right_on='seasonID',
         how='inner',
         suffixes=('', '_y'))

In [ ]:
# Dropping useless columns
boxScoresComplete = boxScoresComplete.drop(['gameID_y','seasonID_y'],axis=1)

In [ ]:
# setting the averageValue 
boxScoresComplete['averageValue'] = np.where(boxScoresComplete['averageValue'].isna(),boxScoresComplete['averageValueSeason'],boxScoresComplete['averageValue'])

In [ ]:
boxScoresComplete = boxScoresComplete[['seasonID',
                   'gameID',
                   'teamID',
                   'averageValue']].groupby(['seasonID','gameID','teamID']).sum().reset_index()

In [ ]:
statsComplete = pd.merge(statsComplete, boxScoresComplete)

In [ ]:
statsComplete

### Extracing the game Outcome

In [ ]:
# Getting goals for/against columns
gameOutcome = pd.merge(seasonsFiltered,
         statsSimple[['seasonID','gameID','teamID','goalsFor','goalsAgainst']], 
         how='inner',
         left_on=['seasonID','gameID','homeTeamID'],
         right_on=['seasonID','gameID','teamID'])

In [ ]:
# Determing if the home team won
gameOutcome['homeTeamWin'] = gameOutcome.apply(lambda row: 1 if row['goalsFor'] > row['goalsAgainst'] else 0,axis=1)

In [ ]:
# Getting rid of useless columns
gameOutcome = gameOutcome.drop(['gameType', 
                  'gameDate', 
                  'homeTeamID',
                  'awayTeamID',
                  'teamID','seasonID','goalsFor','goalsAgainst'],axis=1)

### Creating Model Input

In [ ]:
# Determining if the team is the home or away, this is needed to join properly again on seasonsFiltered below
statsComplete = pd.merge(statsComplete,seasonsFiltered[['gameID','homeTeamID']], 
                 how='left',
                 left_on=['gameID','teamID'],
                 right_on=['gameID','homeTeamID'])
statsComplete['isHome'] = np.where(pd.isna(statsComplete['homeTeamID']), 0, 1)
statsComplete = statsComplete.drop(['homeTeamID'],axis=1)

In [ ]:
# Determing the game number for each time by season
statsComplete = statsComplete.sort_values(['seasonID','gameID'])
statsComplete['gameNumber'] = statsComplete.groupby(['seasonID','teamID','isHome']).cumcount()+1
statsComplete['gameNumber'] += 1

In [ ]:
# Sorting and then getting the home and away teams game numbers (used to join on below)
seasonsFiltered = seasonsFiltered.sort_values(['seasonID','gameID'])
seasonsFiltered['homeTeamGameNumber'] = seasonsFiltered.groupby(['seasonID','homeTeamID']).cumcount()+1
seasonsFiltered['awayTeamGameNumber'] = seasonsFiltered.groupby(['seasonID','awayTeamID']).cumcount()+1

In [ ]:
# Creating the model input with the home team data
modelInput = pd.merge(seasonsFiltered, 
            statsComplete[statsComplete['isHome'] == 1], 
            how='inner', 
            left_on=['seasonID', 'homeTeamID', 'homeTeamGameNumber'],
            right_on=['seasonID','teamID','gameNumber'])

In [ ]:
# Dropping extra columns
modelInput = modelInput.drop(['gameID_x', 
                 'gameType_x',
                 'homeTeamGameNumber',
                 'teamID',
                 'gameNumber'],
                axis=1)

In [ ]:
# Renaming some columns to keep things clean
modelInput = modelInput.rename({"gameID_y":"gameID", "gameType_y":"gameType"}, axis=1)

In [ ]:
# adding the away team data to the model input
modelInput = pd.merge(modelInput, 
            statsComplete[statsComplete['isHome'] == 0], 
            how='inner', 
            left_on=['seasonID', 'awayTeamID', 'awayTeamGameNumber'],
            right_on=['seasonID','teamID','gameNumber'], suffixes=('Home','Away'))

In [ ]:
pd.set_option("display.max_columns", None)
modelInput

In [ ]:
# Dropping columns that are no longer needed
modelInput = modelInput.drop(['awayTeamGameNumber',
                              'gameIDHome',
                              'gameTypeHome',
                              'teamID',
                              'gameNumber',
                              'isHomeAway'],axis=1)

In [ ]:
# Renaming these to get rid of the suffix that was put on it on the last join
modelInput = modelInput.rename({'gameIDAway':'gameID','gameTypeAway':'gameType'},axis=1)

In [ ]:
modelInput = pd.merge(modelInput, gameOutcome, on='gameID')

## Creating the Model

### Normalizing the Data and creating train/test data

In [ ]:
# Creating the x and y data
x = modelInput.drop(['seasonID',
                     'gameDate',
                     'homeTeamID',
                     'awayTeamID',
                     'gameID',
                     'gameType',
#                      'shotsAgainstPerGameHome', 
#                      'shotsForPerGameHome', 
#                      'shotDifferentialHome',
#                      'shotsAgainstPerGameAway', 
#                      'shotsForPerGameAway',
#                      'shotDifferentialAway',
                     'homeTeamWin'],axis=1)
y = modelInput[['homeTeamWin']]

In [ ]:
# Normalizing the data
scaler = preprocessing.StandardScaler().fit(x)
xScaled = scaler.transform(x)

In [ ]:
xTrain, xTest, yTrain, yTest = train_test_split(xScaled, y, test_size=0.2,random_state=109) # 70% training and 20% test

### Support Vector Machine

In [ ]:
clf = svm.SVC(kernel='linear',gamma='auto') # Linear Kernel

In [ ]:
clf.fit(xTrain, yTrain['homeTeamWin'].values)

In [ ]:
yPred = clf.predict(xTrain)
print("Train Accuracy:",metrics.accuracy_score(yTrain, yPred))
yPred = clf.predict(xTest)
print("Test Accuracy:",metrics.accuracy_score(yTest, yPred))